@use 'vendors';
@use 'vendors-extensions/bootstrap/components/buttons';

$color-gray-800: #595959;
$color-gray-900: #D9D9D9;
$color-gray-black: #000000;
$color-gray-white: #FFFFFF;
$size-xsmall: 16px;
$space-unit: 16px;
$size-maxwidth: 1400px;
$space-halfunit: 8px;
$space-sixunits: 96px;
$space-twounits: 32px;
$color-primary1-blue80: #5228f5ff;
$radius8: 8px;
$space-fiveunits: 80px;
$space-fourunits: 64px;
$color-primary1-blue100: #291477ff;
$space-threeunits: 48px;
$color-secondary-gray500: #d9d9d9ff;
$space-oneandhalfunits: 24px;

@mixin whitewithcolorborderwhite {
  border-color: $color-gray-black;
  border-width: 1px;
  border-radius: 4px;
  background-color: $color-gray-white;
}

@mixin paddingwithcolorgrayblack {
  color: $color-gray-black;
  padding: 0.5rem 1rem;
}

@mixin baseui {
  html{ line-height: 1.15; }
  body{ margin: 0; }
  *{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
  }
  p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption{
    margin: 0;
    padding: 0;
  }
  button{ background-color: transparent; }
  button,input,optgroup,select,textarea{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  button,select{ text-transform: none; }
}

@mixin input {
  margin-top: 20px;
  margin-bottom: 20px;
}

@mixin columncenter {
  align-items: center !important;
  flex-direction: column !important;
}

@mixin hover {
  border-color: rgba(97, 85, 141, 0.9) !important;
  background-color: rgba(97, 85, 141, 0.9) !important;
  color: $color-gray-white !important;
}

@mixin content {
  font-family: Inter;
  text-transform: none;
  text-decoration: none;
  line-height: 1.15;
}

@mixin fullflex {
  width: 100% !important;
  display: flex !important;
}

@mixin paddingleftandright {
  padding-left: $space-twounits;
  padding-right: $space-twounits;
}

@mixin paddingtopandbottom {
  padding-top: $space-oneandhalfunits;
  padding-bottom: $space-oneandhalfunits;
}

@mixin notfound {
  @include columncenter;
  display: flex;
  justify-content: center;
}

@mixin fullflexwithcentercolumn {
  @include fullflex;
  @include columncenter;
}

@mixin centerfullflex {
  @include fullflex;
  align-items: center;
}

@mixin container {
  @include columncenter;
  justify-content: space-between;
}

.button {
  @include paddingwithcolorgrayblack;
  @include whitewithcolorborderwhite;
  display: inline-block;
}

.input {
  @include paddingwithcolorgrayblack;
  @include whitewithcolorborderwhite;
  cursor: auto;
}

.textarea {
  color: $color-gray-black;
  cursor: auto;
  padding: 0.5rem;
  @include whitewithcolorborderwhite;
}

.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}

.list-item {
  display: list-item;
}

.teleport-show {
  display: flex !important;
  transform: none !important;
}

.heading2 {
  font-size: 2.5rem;
}

.heading3 {
  font-size: 1.8rem;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.2;
  text-transform: uppercase;
}

.heading1 {
  font-size: 4.5rem;
  font-weight: 700;
}

.heading4 {
  font-size: 1.2rem;
}

.Content {
  @include content;
  font-size: 16px;
  font-weight: 400;
}

.Heading {
  @include content;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .heading2 {
    font-size: 1.8rem;
  }

  .heading3 {
    font-size: 1.1rem;
  }

  .heading1 {
    font-size: 2.5rem;
  }

  .heading4 {
    font-size: 1.2rem;
  }
}
