<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 - Not Found</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <link type="text/css" href="../sass/style.scss" />
    <div>
      <notfound-component class="not-found-container"></notfound-component>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
