<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AddPage - Edible Practical Eel</title>
    <meta property="og:title" content="AddPage - Edible Practical Eel" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <link type="text/css" href="../sass/style.scss" />
    <div>
      <div class="add-page-container">
        <div class="add-page-header">
          <header data-thq="thq-navbar" class="add-page-navbar-interactive">
            <span class="add-page-logo">STORYAPP</span>
            <div data-thq="thq-navbar-nav" class="add-page-desktop-menu">
              <nav class="add-page-links">
                <links-appbar class="home-links"></links-appbar>
              </nav>
            </div>
            <div data-thq="thq-burger-menu" class="add-page-burger-menu">
              <svg viewBox="0 0 1024 1024" class="add-page-icon">
                <path
                  d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                ></path>
              </svg>
            </div>
            <div data-thq="thq-mobile-menu" class="add-page-mobile-menu">
              <div class="add-page-nav">
                <div class="add-page-top">
                  <span class="add-page-logo1">STORYAPP</span>
                  <div data-thq="thq-close-menu" class="add-page-close-menu">
                    <svg viewBox="0 0 1024 1024" class="add-page-icon02">
                      <path
                        d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <nav class="add-page-links1">
                  <a href="/"> <span class="add-page-nav11">DashboardPage</span> </a>
                  <a href="add-page.html"> <span class="add-page-nav21">AddPage</span> </a>
                </nav>
              </div>
            </div>
          </header>
        </div>
        <form-component class="form-input-container form-input-root-class-name"></form-component>
        <footer-component class="home-footer"></footer-component>
      </div>
    </div>
    <script
      data-section-id="navbar"
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
